= render "/places/sub-header"
.comment-items
  .comment-items__title
    新規コメントの作成
  .comment-items__form
    - if current_user
      = form_for [@place, @comment] do |form|
        = form.text_area :text, placeholder: "適切なコメントを心がけてください", class: 'text-area', size: "65x20"
        = form.submit "送信", class: 'submit-btn'
    - else 
      .alert
        ※※※ コメントの投稿には新規登録/ログインが必要です ※※※