#page-animate::before {
  content: '';
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #CCFFCC;
  z-index: 9999999;
  pointer-events: none;
  right: 100%;
  -webkit-transition: right 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  transition: right 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}
#page-animate::after {
  content: '';
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #CCFFCC;
  z-index: 9999999;
  pointer-events: none;
  left: 100%;
  -webkit-transition: left 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  transition: left 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}
#page-animate.is-slide-in::before {
  right: 0;
}
#page-animate.is-slide::after {
  left: 0;
}