.footer{
  .manager-name{
    font-weight: bold;
    font-size: 25px;
    padding: 75px 0px 30px 80px;;
  }
  .items{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    &__image{
      width: 100px;
      height: 100px;
      object-fit: cover;
    }
    &__content{
      .introduce{
        font-size: 15px;
        margin: 20px;
        font-weight: bold;
      }
      .accounts{
        font-size: 15px;
        margin: 20px;
        font-weight: bold;
        .twitter{
          text-decoration: none;
          color: black;
          margin: 10px;

        }
        .facebook{
          text-decoration: none;
          color: black;
          margin: 10px;
        }
        .webpage{
          text-decoration: none;
          color: black;
          margin: 10px;
        }
      }
    }
  }
}