.footer{
  .manager-name{
    @include sub-title();
  }
  .items{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    &__image{
      width: 100px;
      height: 100px;
      object-fit: cover;
    }
    &__content{
      .introduce{
        @include footer();
      }
      .accounts{
        @include footer();
        .twitter{
          @include account();

        }
        .facebook{
          @include account();
        }
        .webpage{
          @include account();
        }
      }
    }
  }
}