.new-main{
  width: 100%;
  height: 100vh;
  padding: 60px 0;
  background-color: #EEEEEE;
  .contents{
    width: calc(100% / 2);
    height: 100%;
    margin: 0 auto;
    padding: 25px 50px;
    background-color: white;
    #contents__new-title{
      font-weight: bold;
      margin: 12px 0 ;
    }
    .contents__name{
      width: 100%;
      height: 35px;
    }
    .contents__content{
      width: 100%;
      height: 150px;
    }
    .contents__webpage{
      width: 100%;
      height: 35px;
      margin-bottom: 40px;
    }
    .contents__submit{
      display: block;
      margin: 0 auto;
      background-color: red;
      color: white;
      padding: 10px 20px;
      font-weight: bold;
      border-radius: 10px;
    }
  }
}