.detail-main
  .contents
    .contents__title
      場所の名前が入ります
    = image_tag "/top-page.png", alt: "場所写真", class: "contents__image"
    .contents__explain
      高田松原７万本のうち唯一生き残った復興のシンボル。
      震災後枯死しましたが、陸前高田市が寄付金により現状の形で再整備しました。
    .contents__info
      基本情報
    .contents__URL
      URL : https://www.city.rikuzentakata.iwate.jp/kategorie/fukkou/ipponmatu/ipponmatu.html
    .contents__comment
      .items
        .title
          コメント
        = link_to "#", class: "edit-btn" do
          コメントをする
      .messages
        .message
          .message__user-name
            yuki
          .message__content
            津波の記憶がダイレクトに伝わってくるようで、とても有意義な場所でした。ぜひ行ってみて欲しいです。