.main
  .explain
    .explain__subtitle
      誰もが気軽に記憶を語れる場所、そして「Mirai」へ。
    .explain__title
      世界1000箇所もの負の遺産を検索できる日本最大級のダークツーリズム専門サイト
    .explain__content
      「日本人なのに自分の国のこと全然知らない」「当事者の話を聞いてみたいけど、直接問い合わせるのは気が進まない」「戦跡巡りって周りに理解されづらい」
      %br
      あなたのその悩み、私も経験があるのですごくわかります。
      %br
      Miraiでは、たった30秒の新規登録で負の遺産検索やガイドとのマッチング、負の遺産レビューを行うことができます。
  .index-area
    .index-area__title
      遺産一覧
    .index-area__contents
      - @places.each do |place|
        .content
          %img.content__image{src: place.image, alt: "遺産画像"}
          = link_to place_path(place.id), class:"content__name" do
            = place.name