.main
  .index-area
    .index-area__title
      一覧
    .index-area__contents
      - @places.each do |place|
        .content
          %img.content__image{src: place.image, alt: "遺産画像"}
          = link_to place_path(place.id), class:"content__name" do
            = place.name