.sub-header
  %input.search-area{:placeholder => "場所を検索", :type => "text"}
  = link_to root_path, class: "service-icon" do
    = icon('fas', 'seedling', style: "color: #CCFF33;")
  .user-name
    ユーザー名：Yuki